/*********** NAVBAR ****************/
html[data-theme="light"] .navbar {
  /* background-color: #f8fafc; */
  box-shadow: inset 0 -1px rgb(227 232 238);
}

/* ********** BANNER **************/
.homeHero {
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(120deg, #155799, #159957);
}

.logo {
  position: absolute;
  opacity: 0.3;
  right: 0;
  top: 0;
  max-width: 100%;
  margin: auto;
}

.logo img {
  width: 90%;
  z-index: 1;
}

.banner {
  color: white;
  padding: 8em 1em;
  position: relative;
  z-index: 10;
}

.homeTitle {
  margin-top: 50px;
  max-width: 520px;
  font-size: 3rem;
  line-height: 1.3em;
  font-weight: bold;
  letter-spacing: 0.3px;
}

.homeSubTitle {
  display: block;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.3em;
  margin: 1.3em 0 1.3em;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.homeHero .button {
  color: white;
  border: solid 1px #fff;
}

/* *********** BLOCK CONTAINER *********** */
.wrapper {
  padding: 5em 0;
}

.lightBackground {
  background-color: var(--light-bg-color);
}

.darkBackground {
  background-color: var(--dark-bg-color);
}

/* ************** BLOCK GRID ************** */
.gridBlock {
  padding-top: 2em;
}

@media only screen and (min-width: 769px) {
  .gridBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 40px;
  }

  .gridBlock > * {
    margin: 0 24px 0 0;
  }

  .gridBlock .twoByGridBlock {
    flex: 1 0 40%;
  }

  .gridBlock .threeByGridBlock {
    flex: 1 0 26%;
  }

  .gridBlock .fourByGridBlock {
    flex: 1 0 20%;
  }

  h2 + .gridBlock {
    padding-top: 20px;
  }
}

/* ************** TEXT SECTION ************** */
.textSection h1 {
  margin-top: 0;
  font-size: 2.5rem;
}

.textSection h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logos img {
  height: 30px;
  margin: 2em;
}

/* ************** FOOTER ************** */
.footer {
  display: none;
  box-shadow: inset 0 1px rgb(227 232 238);
}
